<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome - Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/javascript/scripts.js"></script>
    <script type="text/javascript" src="/static/addQuestion.js"></script>
    <style>
        #addButton {
            position: relative;
            left: 75px;
            top: 20px;
        }
    </style>
</head>
<body>
<a href="/auth/login">
    <button class="btn btn-primary">Log Out</button>
</a>
<div id="email" style="font-size: 16px;color: black;float: right; margin-right: 30px; background-color: darkcyan"></div>
<button type="button" id="addButton" class="btn btn-primary" data-toggle="modal" style="margin-top:-40px"
        data-target="#myModal">Add Question
</button>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Question Form</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="title" class="text-info">Title:</label><br>
                    <input type="text" name="title" id="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="question" class="text-info">Question:</label><br>
                    <textarea type="text" name="question" cols="40" rows="5" id="question"
                              class="form-control"></textarea>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <span id="errorMessage"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="border: 1px solid black" class="btn btn-default" onclick="addQuestion()">
                    Submit
                </button>
                <button type="button" style="border: 1px solid black" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Question</th>
        <th scope="col">Creator</th>
        <th scope="col">Date Created</th>
        <th scope="col">Answer</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="q: ${questions}">
        <td th:text="${q.title}">Title</td>
        <td th:text="${q.question}">Question</td>
        <td th:text="${q.creator}">Creator</td>
        <td th:text="${q.createdAt}">Date</td>
        <td>
            <button onclick="window.location.href='answer/{id}';">View Answer
            </button>
        </td>
        <td>
            <button>Trash</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>