<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/logIn.js"></script>
</head>
<body>
<form method="get" action="/auth/login">
    <button type="submit" class="btn btn-primary" style="display: flex">Login</button>
</form>
<form method="get" action="/auth/register">
    <button type="submit" class="btn btn-primary" style="display: flex">Register</button>
</form>
<div class="container text-center">
    <div>
        <h1>Log In</h1>
    </div>
   Username: <input id= "email" name="email" type="text">
    <br /><br/>
    Password: <input id="password" name="password" type="password">
    <div id="errorMessage"></div>
</div>
<button class="btn btn-primary" onclick="logIn()">Log In</button>
</body>
</html>